.home-section {
  min-height: 100vh;
  background-image: url(/img/22_APU_comp.JPG);
  background-size: cover;
  background-position: center;
  background-color: yellow;
  position: relative;
  z-index: 1;
}

.home-section:before {
  content: "";
  position: absolute;
  box-sizing: border-box;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.7;
  z-index: -1;
}

.home-section .shape-01 {
  position: absolute;
  height: 30px;
  width: 30px;
  border: 2px solid blue;
  right: 5%;
  top: 20%;
  animation: anim01 5s linear infinite;
}

.home-section .row {
  min-height: 100vh;
}

.home-section .home-content {
  flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
}

.home-section .home-content h4 {
  font-size: 20px;
  color: $color-white;
  margin: 0;
}

.home-section .home-content h1 {
  font-size: 60px;
  margin: 0;
  color: $color-white;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 10px;
}

.home-section .scroll-down {
  position: absolute;
  left: 50%;
  bottom: 30px;
  height: 30px;
  width: 30px;
  margin-left: -15px;
  animation: scrollDown 2s ease infinite;
}

.home-section .scroll-down img {
  width: 25px;
  display: block;
  margin: 2px auto;
}
